{% extends "_base.html" %}
{% block title %}{{user.username}} | {% endblock %}
{% block content %}
<div class="container">
  <div class="row mb-5">
    <div class="col-3">
      <img src="{{user.profile_picture_url}}" alt="{{user.username}} profile picture" class="img-fluid profile-picture-show" />
    </div>
    <div class="col-6">
      <h2>{{user.username}}</h2>
      <p>{{user.description}}</p>
    </div>
    <div class="col-3">
      {% if current_user.id == user.id %}
        <form action={{url_for("images.create")}} method="POST" enctype="multipart/form-data">
          <input type="file" name="image">
          <button class="btn btn-primary" type="submit">Post</button>
        </form>
      {% endif %}
    </div>
  </div>

  {% if user.images | length > 0 and (not user.private or current_user.id == user.id) %}
    <div class="row">
      {% for image in user.images %}
        <div class="col-4 mb-2">
          <img src="{{image.image_url}}" alt="{{image.image_name}}"  class="img-fluid feed-picture"/>

          {% if current_user.id == user.id %}
            <form action="{{url_for('images.destroy', id=image.id)}}" onSubmit="return confirm('Are you sure you wish to delete?');" method="POST">
                <input type='submit' value='Delete' class='btn'/>
            </form>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

</div>
{% endblock %}