.feed-picture {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.img-feed-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 50px;
  height: auto;
}

.follower-image {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 250px;
  height: auto;
}

.users-index-profile-images {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.user-index-feature {
  background-color: #efefef;
}
