.profile-picture-edit {
  width: 100%;
}

.img-feed-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 50px;
  height: auto;
}
